barra ul{
    list-style-type: none;
    text-align: center;
}

barra li{
    display: inline;
    text-align: center;
    margin: 0 10px 0 0;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-top: 8%;

}
a {
  color: #00B7FF;
}

