<form class="form-horizontal" role="form">

    <div class="form-group">
        <label for="nombre" class="col-lg-2 control-label">Nombre</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" id="nombre"
                   placeholder="Nombre" ng-model="new_user.nombre">
        </div>
    </div>


    <div class="form-group">
        <label for="apellidos" class="col-lg-2 control-label">Apellidos</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" id="apellidos"
                   placeholder="Apellidos" ng-model="new_user.apellidos">
        </div>
    </div>

    <div class="form-group">
        <label for="dni" class="col-lg-2 control-label">DNI/NIE</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" id="dni"
                   placeholder="DNI/NIE" ng-model="new_user.dni">
        </div>
    </div>

    <div class="form-group">
        <label for="telf" class="col-lg-2 control-label">Teléfono</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" id="telf"
                   placeholder="Teléfono" ng-model="new_user.phone">
        </div>
    </div>

    <div class="form-group">
        <label for="email" class="col-lg-2 control-label">E-Mail</label>
        <div class="col-lg-10">
            <input type="email" class="form-control" id="email"
                   placeholder="E-Mail" ng-model="new_user.email">
        </div>
    </div>

    <div class="form-group">
        <label for="birthday" class="col-lg-2 control-label">Fecha nacimiento</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" id="birthday"
                   placeholder="Fecha nacimiento" ng-model="new_user.birthday">
        </div>
    </div>


    <div class="form-group">
        <label for="password" class="col-lg-2 control-label">Contraseña</label>
        <div class="col-lg-10">
            <input type="password" class="form-control" id="password"
                   placeholder="Contraseña" ng-model="new_user.password">
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <button type="submit" class="btn btn-success" ng-click="addUser(new_user)">Crear el usuario</button>
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <button type="submit" class="btn btn-danger" ng-click="cancelUser()">Cancelar</button>
        </div>
    </div>
</form>