<!--

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>

-->

<form class="form-horizontal" role="form">

    <div class="form-group">
        <label for="nombre" class="col-lg-2 control-label">Nombre</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" id="nombre"
                   placeholder="Nombre">
        </div>
    </div>


    <div class="form-group">
        <label for="apellidos" class="col-lg-2 control-label">Apellidos</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" id="apellidos"
                   placeholder="Apellidos">
        </div>
    </div>

    <div class="form-group">
        <label for="dni" class="col-lg-2 control-label">DNI/NIE</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" id="dni"
                   placeholder="DNI/NIE">
        </div>
    </div>

    <div class="form-group">
        <label for="telf" class="col-lg-2 control-label">Teléfono</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" id="telf"
                   placeholder="Teléfono">
        </div>
    </div>

    <div class="form-group">
        <label for="email" class="col-lg-2 control-label">E-Mail</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" id="email"
                   placeholder="E-Mail">
        </div>
    </div>

    <div class="form-group">
        <label for="birthday" class="col-lg-2 control-label">Fecha nacimiento</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" id="birthday"
                   placeholder="Fecha nacimiento">
        </div>
    </div>


    <div class="form-group">
        <label for="password" class="col-lg-2 control-label">Contraseña</label>
        <div class="col-lg-10">
            <input type="password" class="form-control" id="password"
                   placeholder="Contraseña">
        </div>
    </div>




<!--
    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox"> No cerrar sesión
                </label>
            </div>
        </div>
    </div>

    -->
    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <button type="submit" class="btn btn-success">Modificar Usuario</button>
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <button type="submit" class="btn btn-danger">Cancelar</button>
        </div>
    </div>


</form>